* {
    box-sizing: border-box;
}

/* 색상 지정해서 사용 가능 -> 나중에 수정할 때 편리 */
:root {
    --text-color: #efeded;
    --background-color: #191946;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1rem 1.5rem;
}

a {
    text-decoration: none;
    color: white;
}

.container h1 i {
    color: deeppink;
}

.container .menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}

.container .menu li {
    padding: 1rem 1.25rem; 
    /* 마진이 아닌 패딩으로 넣어야 클릭영역 확장 */
}

/* 메뉴에 마우스를 올렸을 때 색깔 변화 */
.container .menu li:hover {
    background-color: deeppink;
    border-radius: 0.5rem;
}

.container .icons{
    display: flex;
    padding-left: 0;
}
.container .icons i {
    padding: 0.5rem 1rem;
}


/* 햄버거 모양 클릭하면 메뉴 나오게하기 */
.menu-btn {
    display: none; /*화면이 작아지지 않을 때는 안보이게*/
    position: absolute; /* 원래 포지션에서 나와서 오른쪽 위에 위치하게 하기 */
    right: 2rem;
    top: 3rem;
    font-size: 1.25rem;
    color: deeppink;
}

/* 창이 작아질 때 반응형으로 만들기 */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start; /*반대축이므로 align, 왼쪽 정렬*/
        padding: 1rem 2rem;
    }
    .menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .menu li {
        width: 100%;
        text-align: center;
    }
    .icons {
        justify-content: center;
        width: 100%;
    }
    .menu-btn { /*화면이 작아지면 햄버거 모양 보이게, 클릭하면 보이는 건 js로*/
        display: block;
    }
}